@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Logging in will allow you to use the contact form here, which will result in a faster response.
Otherwise, please use the emails below.

<address>
    <strong>Support:</strong>   <a href="mailto:mlx151300@gmail.com">mlx151300@gmail.com</a><br />
    <strong>Website issues:</strong> <a href="mailto:kieranburke@live.com">kieranburke@live.com</a>
</address>