@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MALIBRACE</h1>
    <p class="lead">MALIBRACE是个卖质量很高的红糖的公司。我们2013开始进去英国的市场给中国人不错的价格。</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">看一下 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>四物</h2>
        <p>
            四物是最贵的所以应该对你的菊花非常好。来买就可以让你的男友进去没问题。
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">看一下 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>玫瑰</h2>
        <p>玫瑰是女人最好的朋友. 都不会来不及。吃这个就永远不要吃别的东西。</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">看一下 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>红枣</h2>
        <p>红枣不要跟就乱搞应为我带吓儿给你女儿。</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">看一下 &raquo;</a></p>
    </div>
</div>
